@model IEnumerable<CmsShop.Models.ViewModels.Shop.CategoryVM>

@{
    ViewBag.Title = "Sklep kategorie";
}

<h2>Sklep kategorie</h2>

<div class="new-cat">
    <input type="text" id="newcatname" />
    <p>
        <a href="#" id="newcata">Dodaj Nową Kategorię</a>
        <span class="ajax-text">
            <img src="~/Content/img/ajax-loader.gif" />
        </span>
    </p>
</div>

@if (!Model.Any())
{
    <h1 class="text-center">Niema żadnych kategorii.</h1>
}
else
{
    <table class="table sorting categories" id="pages">
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    <div class="ajaxdivtd"></div>
                    @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </td>
                <td>
                    @Html.ActionLink("Usuń", "DeleteCategory", new { id = item.Id }, new { @class = "delete" })
                </td>
            </tr>
        }

    </table>
}

@section scripts {

    <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

    <script>

        $(function () {

            /*
            * Dodawanie nowej kategorii
            */

            var newCatA = $("a#newcata");
            var newCatTextInput = $("#newcatname");
            var ajaxText = $("span.ajax-text");
            var table = $("table#pages tbody");


            newCatTextInput.keyup(function (e) {
                if (e.keyCode == 13) {
                    newCatA.click();
                }
            })

            newCatA.click(function (e) {
                e.preventDefault();

                var catName = newCatTextInput.val();

                if (catName.length < 2) {
                    alert("Nazwa ketegorii musi mieć conajmniej 2 znaki!");
                    return false
                }

                ajaxText.show();

                var url = "/admin/shop/AddNewCategory"

                $.post(url, { catName: catName }, function (data) {

                    var response = data.trim();

                    if (response == "tytulzajety") {
                        ajaxText.html("<span class='alert alert-danger'>Ten tytuł już jest zajęty!</span>")
                        setTimeout(function () {
                            ajaxText.fadeOut("fast", function () {
                                ajaxText.html("<img src=/Content/img/ajax-loader.gif />");
                            });
                        }, 2000);
                        return false;
                    } else {
                        if (!$("table#pages").length) {
                            location.reload();
                        }
                        else {
                            ajaxText.html("<span class='alert alert-success'>Kategoria została dodana</span>")
                            setTimeout(function () {
                                ajaxText.fadeOut("fast", function () {
                                    ajaxText.html("<img src=/Content/img/ajax-loader.gif />");
                                });
                            }, 2000);

                            newCatTextInput.val("");

                            var toAppend = $("table#pages tbody tr:last").clone();
                            toAppend.attr("id", "id_" + data)
                            toAppend.find("#item_Name").val(catName);
                            toAppend.find("a.delete").attr("href", "/admin/shop/DeleteCategory/" + data);
                            table.append(toAppend);
                            table.sortable("refresh");
                        }
                    }
                })
            })


            ///////////////////////////////////////////////////////////////////////



            /*
            * Sortowanie Kategorii
            */

            $("table#pages tbody").sortable({
                items: "tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#pages tbody").sortable("serialize");
                    var url = "/Admin/Shop/ReorderCategories";

                    $.post(url, ids, function (data) {
                    });
                }
            });


            ///////////////////////////////////////////////////////////////////////




            /*
            * Potwierdzeni Usuwania Kategorii
            */

            $("body").on("click", "a.delete", function () {
                if (!confirm("Potwierdz usunięcie kategorii")) return false;
            });


            ///////////////////////////////////////////////////////////////////////




            /*
            * Zmiana Nazwy Kategorii
            */

            var orginalTextBoxValue;

            $("table#pages input.text-box").dblclick(function () {
                orginalTextBoxValue = $(this).val();
                $(this).attr("readonly", false);
            });

            $("table#pages input.text-box").keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).blur();
                }
            });

            $("table#pages input.text-box").blur(function () {

                var $this = $(this);
                var ajaxdiv = $this.parent().find(".ajaxdivtd");
                var newCatName = $this.val();
                var id = $this.parent().parent().attr("id").substring(3);
                var url = "/admin/shop/RenameCategory";

                if (newCatName.length < 2) {
                    alert("Nazwa kategorii musi mieć conajmniej 2 znaki");
                    $this.attr("readonly", true);
                    return false;
                }

                $.post(url, { newCatName: newCatName, id: id }, function (data) {

                    var response = data.trim();

                    if (response == "tytulzajety") {
                        $this.val(orginalTextBoxValue);
                        ajaxdiv.html("<span class='alert alert-danger'>Ta kategoria jest zajęty!</span>").show();
                    } else {
                        ajaxdiv.html("<span class='alert alert-success'>Nazwa kategorii została zmieniona!</span>").show();
                    }

                    setTimeout(function () {
                        ajaxdiv.fadeOut("fast", function () {
                            ajaxdiv.html("");
                        });
                    }, 2000);
                }).done(function () {
                    $this.attr("readonly", true);
                });
            });


            ///////////////////////////////////////////////////////////////////////
        });

    </script>

}