@model IEnumerable<CmsShop.Models.ViewModels.Shop.CategoryVM>

@foreach (var item in Model)
{
    <li><a href="/shop/category/@item.Slug.ToLower()"><i class="fa fa-dashboard"></i>@item.Name</a></li>
}