@model CmsShop.Models.ViewModels.Shop.ProductVM

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>

<br/>

<div class="row">

    <div class="col-xs-12 col-md-4">
        <img src="/Images/Uploads/Products/@Model.Id/thumbs/@Model.ImageName" />
    </div>

    <div class="col-xs-12 col-md-8">
        @Html.DisplayFor(model => model.Description)
        <br />
        @Html.DisplayFor(model => model.Price)
        <br />

        <div class="addtocart">
            <a href="#" class="addtocart">Dodaj do koszyka</a>
            <span class="loader">
                <img src="~/Content/img/ajax-loader.gif"
            </span>
            <span class="ajaxmsg">
                Ten produkt został dodany do koszyka.
            </span>
        </div>

    </div>

</div>