table.sorting tr:not(.home){
    cursor: pointer;
}

.ui-state-highlight {
    border: 1px dashed #ccc;
}

span.ajax-text {
    display: none;
}

div.new-cat {
    margin-top: 30px;
    position:relative;
}

table.sorting.categories td {
    padding: 20px !important;
}

.ajaxdivtd {
    position: absolute;
}

span.loader {
    display:none;
}

span.ajaxmsg {
    display:none;
    color:white;
    background:green;
    padding:10px;
    bottom:0;
    position:absolute;
}