table.sorting tr:not(.home){
    cursor: pointer;
}

.ui-state-highlight {
    border: 1px dashed #ccc;
}

span.ajax-text {
    display: none;
}

div.new-cat {
    margin-top: 30px;
    position:relative;
}

table.sorting.categories td {
    padding: 20px !important;
}

.ajaxdivtd {
    position: absolute;
}

span.loader {
    display:none;
}

span.ajaxmsg {
    display:none;
    color:white;
    background:green;
    padding:10px;
    bottom:0;
    position:absolute;
}

.ajaxcart {
    position: relative;
    top: 5px;
}

.ib {
    display: inline-block !important;
}

ul.adminarea {
    position: relative;
    top: 15px;
}

.ajaxbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    display: none;
}

.ajaxbg  span {
    position :absolute;
    top: 50%;
    left: 50%;
    transform:translate3d(-50%, -50%, 0)
}

form.paypalform {
    position: absolute;
    left: -2000px;
}